  <div class="bar">
  <nav class="navbar navbar-dark bg-primary">
    <a href="/"><h1 class="nh1">Budget This!</h1></a>
 
   <a class="navbar-brand" href="/transaction">Transaction History</a>
</nav>

  </div>

  <div class="container" style="size: 50%">
<form action="" id="input form">
  <h1 style="text-align: center;">Insert A New Transaction!</h1>
        <div class="form-group">
            <label for="user">User:</label>
            <input type="text" class="form-control" id="user" placeholder="">
        </div>
        <div class="form-group">
            <label for="Type">Type:</label>
            <select class="form-control" id="type"> 
                <option>Deposit</option>
                <option>Withdrawal</option>
                <option>Credit Payment</option>
                <option>Cash Payment</option>
                <option>Stock Investment</option>
            </select>
        </div>

        <div class="form-group">
            <label for="amount">Amount($):</label>
            <input type="text" class="form-control" id="amount" placeholder="$$">
        </div>
        <div class="form-group">
            <label for="memo">Description:</label>
            <input type="text" class="form-control" id="memo" placeholder="Transaction Memo"> 
        </div>
        <button class="btn btn-danger" id="transaction-form-fill">Scan Receipt</button>
          <button type="submit" class="btn btn-success" id="transaction-form" data-toggle="modal" data-target="#exampleModal">Create Transaction</button>
          
    </form>
  </div>
    

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Budget This!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Your financial data has been saved
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {

    $(document).on("click", "#transaction-form", transactionFormSubmit);

    // A function to handle what happens when the form is submitted to create a new Author
    function transactionFormSubmit(event) {
        event.preventDefault();

        var transaction = {
            type: $("#type :selected").val(),
            memo: $("#memo").val(),
            amount: parseFloat($("#amount").val()),
            user:$("#user").val()
        }
        console.log(transaction);
        $.post("/api/transactions", transaction)
            .then(function() {
                console.log("Added transaction")
            });
    }
});

</script>