  <div class="bar">
  <nav class="navbar navbar-dark bg-primary">
    <h1 class="nh1">Budget This!</h1>
  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/transaction">Transaction History</a>
  <a class="navbar-brand" href="/input">Input Financial Data</a>
</nav>
  </div>

    <div class="container">
      <!-- Jumbotron -->
      <div class="jumbotron" style="background-color: rgb(112, 112, 112) ; color: white">
        <h1 class="text-center">Transaction History</h1>
      </div>
      <div class="row">
        <div class="col-lg-12"> 
          <div class="card">
            <div class="card-header">
              Transactions
            </div>
            <div class="card-body">
              <table class="table table-hover" id='transaction-table'>
                <thead>
                  <tr>
                    <th>Transaction Type</th>
                    <th>Amount</th>
                    <th>Memo</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>

     

  </div>

  <div class="container blog">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/input">New Transaction</a>
      </div>
      <!-- <div class="col-md-2 col-sm-2">

    <div class="container blog">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <a class="btn btn-light" href="/cms">New Transaction</a>
            </div>
            <!-- <div class="col-md-2 col-sm-2">
